
<div class="container p-3">
    <div class="col-lg-12 d-flex justify-content-between align-items-center">
        <h2 class="">Bazar List</h2>
        <button type="submit" class="btn btn-secondary" (click)="openModal(template)"> <i class="fa fa-plus"
                aria-hidden="true"></i>Add Bazar</button>
    </div>
</div>

<div class="container-fluid">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">SL</th>
                <th scope="col">Member Name</th>
                <th scope="col">Date</th>
                <th scope="col">Cattegory</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>20/04/20220</td>
                <td>Daily Bazar</td>
                <td>500</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Mark</td>
                <td>20/04/20220</td>
                <td>Others</td>
                <td>500</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Mark</td>
                <td>20/04/20220</td>
                <td>Monthly Bazar</td>
                <td>5000</td>
            </tr>
        </tbody>
    </table>
</div>



<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Bazar</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="name">Member Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter member name" />
            </div>

            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date"
                    placeholder="Enter deposite date" />
            </div>

            <!-- <div class="col-xs-12 col-12 col-md-4 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker>
              </div> -->

              <div class="form-group">
                <label for="name">Cattegory</label>
                <select class="form-select" class="form-control" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">Daily Bazar</option>
                    <option value="2">Weekly Bazar</option>
                    <option value="3">Monthly</option>
                  </select>
            </div>

            <div class="form-group">
                <label for="money">Amount</label>
                <input type="text" class="form-control" id="money" name="money" placeholder="Enter amount" />
            </div>

           
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button type="submit" class="btn btn-danger">Cancel</button>
            </div>

        </form>
    </div>
</ng-template>