################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# compiled output
/user-app/dist
/user-app/tmp
/user-app/out-tsc
# Only exists if Bazel was run
/user-app/bazel-out

# dependencies
/user-app/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/user-app/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/user-app/.sass-cache
/user-app/connect.lock
/user-app/coverage
/user-app/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/user-app/typings

# System Files
.DS_Store
Thumbs.db
*#
*.iml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.attach_pid*
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
.vscode
/code
MANIFEST.MF
_site/
activemq-data
bin
build
!/**/src/**/bin
!/**/src/**/build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
out
overridedb.*
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
.sts4-cache