################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevTrack/Core/bin/Debug/netcoreapp3.1
/DevTrack/Core/obj
/DevTrack/.vs/DevTrack/v16
/DevTrack/Infrastructure/bin/Debug/netcoreapp3.1
/DevTrack/Infrastructure/obj
/DevTrack/ActiveProgramWorker/bin/Debug/netcoreapp3.1
/DevTrack/ActiveProgramWorker/obj
/DevTrack/.vs/DevTrack/DesignTimeBuild
/DevTrack/WebCamCaptureWorker/bin/Debug/netcoreapp3.1
/DevTrack/WebCamCaptureWorker/obj
/DevTrack/DevTrack.ActiveProgramWorker/bin/Debug/netcoreapp3.1
/DevTrack/DevTrack.ActiveProgramWorker/obj
/DevTrack/DevTrack.Core/bin/Debug/netcoreapp3.1
/DevTrack/DevTrack.Core/obj
/DevTrack/DevTrack.Infrastructure/bin/Debug/netcoreapp3.1
/DevTrack/DevTrack.Infrastructure/obj
/DevTrack/DevTrack.WebCamCaptureWorker/bin/Debug/netcoreapp3.1
/DevTrack/DevTrack.WebCamCaptureWorker/obj
/DevTrack/DevTrack.CurrentRunningProgramsWorker/bin/Debug/netcoreapp3.1
/DevTrack/DevTrack.CurrentRunningProgramsWorker/obj
/DevTrack/DevTrack.KeyboardMouseActivityWorker/bin/Debug/netcoreapp3.1
/DevTrack/DevTrack.KeyboardMouseActivityWorker/obj
/DevTrack/DevTrack.UserScreenCaptureWorker/bin/Debug/netcoreapp3.1
/DevTrack/DevTrack.UserScreenCaptureWorker/obj
/DevTrack/DevTrack.UserActivityWorker/bin/Debug/netcoreapp3.1
/DevTrack/DevTrack.UserActivityWorker/obj
/DevTrack/DevTrack.UserActivityWorker/WebCamImages/*
/DevTrack/DevTrack.UserActivityWorker/capture-screen/*
/DevTrack/DevTrack.UserActivityWorker/Logs/*
/DevTrack/DevTrack.UserActivityWorker/SqliteDB/DevTrack.db

/DevTrack/DevTrack.DataSyncWorkerService/bin/Debug/netcoreapp3.1
/DevTrack/DevTrack.DataSyncWorkerService/obj
/DevTrack/DevTrack.DataSyncWorkerService/Logs/*

/WebApi/Core/bin/Debug/netcoreapp3.1
/WebApi/Core/obj
/WebApi/Infrastructure/bin/Debug/netcoreapp3.1
/WebApi/Infrastructure/obj
/WebApi/API/bin/Debug/netcoreapp3.1
/WebApi/API/obj
/DevTrack/.vs/api/v16

# compiled output
/user-app/dist
/user-app/tmp
/user-app/out-tsc
# Only exists if Bazel was run
/user-app/bazel-out

# dependencies
/user-app/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/user-app/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/user-app/.sass-cache
/user-app/connect.lock
/user-app/coverage
/user-app/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/user-app/typings

# System Files
.DS_Store
Thumbs.db
/DevTrack/DevTrack.Infrastructure.Test/bin/Debug/netcoreapp3.1
/DevTrack/DevTrack.Infrastructure.Test/obj
/WebApi/.vs/api
/WebApi/Core/bin/Debug/netstandard2.0
/WebApi/Infrastructure/bin/Debug/netstandard2.0
/WebApi/.vs/DevTrack.WebApi/v16
/WebApi/Demo.Membership/obj
/WebApi/Demo.Membership/bin/Debug/netcoreapp3.1
/WebApi/.vs/DevTrack.WebApi/DesignTimeBuild
/WebApi/.vs/DevTrack.WebApi/config
/WebApi/DevTrack.WebApi/bin/Debug/netcoreapp3.1
/WebApi/DevTrack.WebApi/obj
/WebApi/DevTrack.Membership/obj
/WebApi/DevTrack.Membership/bin/Debug/netcoreapp3.1
/WebApi/DevTrack.Infrastructure/bin/Debug
/WebApi/DevTrack.Infrastructure/obj
/WebApi/DevTrack.Core/bin/Debug
/WebApi/DevTrack.Core/obj
/WebApi/DevTrack.WebApi/Logs/*
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132583001376069015.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132583001668127946.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/CaptureScreen/*
/WebApi/WorkerService/bin/Debug/netcoreapp3.1
/WebApi/WorkerService/Logs/logging-worker-20210106.log
/WebApi/WorkerService/Logs/logging-worker-20210105.log
/WebApi/WorkerService/obj
/WebApi/DevTrack.Common/bin/Debug/netcoreapp3.1
/WebApi/DevTrack.Common/obj
/WebApi/DevTrack.Infrastructure.Test/obj/Debug/netcoreapp3.1
/WebApi/DevTrack.Infrastructure.Test/bin/Debug/netcoreapp3.1
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132607000308236423.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132607000249299850.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132607000182972512.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132607000116926955.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132607000048926194.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606999976747291.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606999901887820.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606996035310831.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995976865110.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995903813489.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995829972596.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995767081737.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995712844009.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995650300665.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995583467038.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995514869467.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995458695746.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995375215157.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995305026154.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995238179087.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995171202821.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995116849058.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606995050966744.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994993282245.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994926678140.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994865427121.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994808641114.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994748115981.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994694947806.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994630399249.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994560583282.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994489478297.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994410433352.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994342593805.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994262440601.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994209831062.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994144685821.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994069529552.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606994007495029.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993953796420.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993893136584.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993828829146.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993771141291.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993722979414.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993670869674.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993615916517.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993565633696.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993514327697.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993453890163.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993400084933.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993342301808.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606993290726907.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606992631035240.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606992574536901.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606992518756939.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606992467658038.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606992413833418.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606992355382680.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606992300476892.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606992233163333.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606992186896983.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606992131684502.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606992074090112.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606992016969934.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991944566209.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991879604471.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991813279132.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991745503296.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991677330621.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991611905727.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991555224627.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991484261214.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991406551652.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991332016391.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991264083898.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991192344497.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991126596783.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991079992139.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606991015656237.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606990972948496.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606990915812357.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606990845633629.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606990789851014.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606990725088209.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606990661438687.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606990599434810.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606990545952987.jpg
/WebApi/DevTrack.WebApi/wwwroot/Images/WebCamImages/132606990479228447.jpg
