<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ user?.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <h6 class="card-header">Meal list</h6>
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Meal</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mealList; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.mealDate }}</td>
                <td>{{ item.mealCount }}</td>
                <td>
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="onClickDelete(item.id)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th scope="col">Total Meal</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">{{ totalMeal }}</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
